@import '../../style/vars';

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: red;

}

.footer {
  height: 150px;
  background-color: black;
    p {
      margin-top: 0;
    }
}

nav {
  font-family: 'Lato', sans-serif;
  text-align: right;
  padding-right: 10%;

  a {
    display: inline-block;
    text-decoration: none;
    margin: 0 15px;
  }

  p {
    color: black;
  }

}

.landing {
  width: 100%;
}
section {
  min-height: 450px;
  width: 100%;
  background-color: blue;
  padding-top: 20px;
  text-align: center;
  overflow: auto;

  h2 {
    margin-top: 0;
  }

  img {
    max-height: 150px;
  }

  img:hover {
    opacity: .75;
  }
}

#intro {
  background: blue;
  text-align: center;
  padding-top: 200px;
  h2 {
    margin: auto, auto;
    font-size: 48px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }
}

#about {
  background: green;

  div {
    display: inline-block;
    width: 50%;
  }
  
  p {
    padding: 0 40px;
  }
}

#projects {
  background: yellow;

  div {
    display: inline-block;
    min-width: 25%;
    margin-left: 50px;
    margin-right: 50px;
  }
  
}

#contact {
  background: orange;
}