@import '../../style/vars';

#portfolio {
  background: $light-blue;
  color: $off-white;
  padding-bottom: 20px;
  padding-top: 30px;

  .divider {
    margin-bottom: 25px;
  }

  .card {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: $med-blue;
    opacity: .75;
    box-shadow: 10px 10px 10px $dark-blue;
    overflow: auto;
    min-width: 250px;
  }
  
  .card:hover {
    opacity: 1;
  }

  a:hover {
    color: $dark-blue;
  }

  h2 {
    color: $dark-slate;
  }

  h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  p {
    margin: 10px 5px;
  }

  div {
    display: inline-block;
    min-width: 20%;
    margin-left: 25px;
    margin-right: 25px;
  }

  .pokemon-pic {
    border-radius: 10%;
  }

  .trivia-pic {
    border-radius: 10%;
  }
  
}