// // -------------------------------------------------------------------------
// // TYPOGRAPHY
// // -------------------------------------------------------------------------

// // -------------------------------------------------------------------------
// // COLORS
// // -------------------------------------------------------------------------
$off-white: rgb(250, 250, 250);
$med-blue: rgb(103, 151, 199);
$light-blue: rgb(191, 205, 223);
$dark-blue: rgb(52, 92, 132);
$lavender-blue: rgb(211, 230, 247);
$dark-slate: rgb(37, 55, 78);
$card-back: rgb(69, 165, 149);
  
// // -------------------------------------------------------------------------
// // MEDIA QUERIES
// // -------------------------------------------------------------------------

// // Small tablets and large smartphones (landscape view)
// $screen-sm-min: 320px;
// $screen-sm-max: 767px;

// // Small tablets (portrait view)
// $screen-md-min: 768px;
// $screen-md-max: 991px;

// // Tablets and small desktops
// $screen-lg-min: 992px;

// // Large tablets and desktops
// $screen-xl-min: 1200px;